<template name="list">
  <div class="left-menu">
    <button id="setting" class="req" >Profile Settings</button>
    <button id="logout" class="req" >logout</button>
    <button id="req" class="req" >request list</button>

  				<form action="#" class="search">
  					<input placeholder="search..." type="search" name="" id="">
  					<input type="submit" value="&#xf002;">
  				</form>
  				<menu class="list-friends">
            {{#each allusers}}
  					<li data-id="{{_id}}" >
  						<img  width="50" height="50" src="/{{profile.profileImagePath}}" onerror="this.src='/defaultUser.jpg';">
  						<div data-id="{{_id}}" class="info useritem" >
  							<div  data-id="{{_id}}" class="user " >{{profile.name}}</div>
                {{#if profile.online}}
  							<div data-id="{{_id}}" class="status on"> </div>
                {{else}}
                <div data-id="{{_id}}" class="status off"> </div>
                {{/if}}
              </div>
  					</li>
            {{/each}}
  				</menu>
  		</div>
      <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
</template>
