<template name="settingsPage">
    <div class="menu-body">
<div class="main-container">
  {{> settingsList}}
</div>
</div>
</template>
<!--

<template name="menubody">
<div class="menu-body">
  <ul>
    <li id="pi" >
      <div class="li-container" >
        <label>Profile Image</label>
        <div class="bottomline"></div>
      </div>
      <div class="pi">
        {{> upload }}
      </div>
    </li>

    <li id="cn" >
      <div class="li-container" >
      <label>change Name</label>
      <div class="bottomline"></div>
    </div>
    <div class="cn"></div>
    </li>

    <li id="ce" >
      <div class="li-container" >
      <label>change email</label>
      <div class="bottomline"></div>
    </div>
    <div class="ce"></div>
    </li>

    <li id="cp" >
      <div class="li-container" >
      <label>change password</label>
      <div class="bottomline"></div>
    </div>
    <div class="cp"></div>

   </li>
  </ul>
</div>
</template>


<template name="upload">
	{{> upload_bootstrap }}
  {{> upload_semanticUI }}
</template> -->
