*{
  margin:0px;

}

.menu-body{
  width: 60%;
  margin:auto;
  text-align:center ;
}

.menu-body ul{
padding:100px;
}

.menu-body ul li label{
width: 100%;
margin:10px !important;
}

.menu-body ul li{

list-style: none;
border:1px solid black;
margin-bottom:5px;
}
.menu-body ul li div {
  width: 500px;
  height: 250px;
}
.bottomline{
  border-bottom: 1px solid black;
  width: 100% !important;
  height: 21px !important;
}
.li-container{
  margin-top: 0;
  width: 100% !important;
  height: 40px !important;
  padding: 10px 0;
}
.li-container:hover{
  color:white;
  background-color: black;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
body {
    font: 12px 'Open Sans';
}
.form-control, .thumbnail {
    border-radius: 2px;
}
.btn-danger {
    background-color: #B73333;
}

/* File Upload */
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img-preview {
    max-width: 100%;
}
