<template name="settingsList">
  <div class="left-menu">
    <!-- <li id="pi" class="req" >Profile Image</li>
    <li id="pn" class="req" >Profile Name</li>
    <li id="pe" class="req" >Profile Email</li>
    <li id="ps" class="req" >Profile Password</li> -->
    {{> stt}}
  </div>
</template>


<template name="stt">
<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Change Name</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <form class="form-horizontal">
   <div class="form-group">
     <label class="control-label col-sm-2" for="pn">Profile Name</label>
     <div class="col-sm-10">
       <input type="email" class="form-control" id="pn" name="pn">
     </div>
   </div>


   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-default">Submit</button>
     </div>
   </div>
 </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Profile Image</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
        		<h3 class="text-center">Preview an image before it is uploaded</h3>
        		<hr />

        		<div class="col-md-4 col-md-offset-4">
        		    <div class="form-group">
                      <div class="main-img-preview">
                        <img class="thumbnail img-preview" src="/{{profile.profileImagePath}}" onerror="this.src='/defaultUser.jpg';" title="Preview Logo">
                      </div>
                      <div class="input-group">
                        <input id="fakeUploadLogo" class="form-control fake-shadow" placeholder="Choose File" disabled="disabled">
                        <div class="input-group-btn">
                          <div class="fileUpload btn btn-danger fake-shadow">
                            <span><i class="glyphicon glyphicon-upload"></i> Upload Logo</span>
                            <input id="image-id" name="logo" type="file" class="attachment_upload">
                          </div>
                        </div>
                      </div>
                    </div>
        		</div>
        	</div>
            <!-- <img width="200" height="200" src="/{{profile.profileImagePath}}" onerror="this.src='/defaultUser.jpg';" > -->
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Change Email</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Change Password</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
</template>
