<template name="p404">
<div class='p404' style=" background-position: center;
    background-repeat: no-repeat;
    background-size: cover;height: 100vh;background-image: url('https://speckycdn-sdm.netdna-ssl.com/wp-content/uploads/2010/03/four-oh-four_08.jpg');">
</div>
</template>
