<template name="login">
<form role="form"  class="login-form">
<div class="form-group">
 <label class="sr-only" for="email">Username</label>
   <input type="text" name="email" placeholder="Email..." class="form-username form-control" id="email">
 </div>
 <div class="form-group">
   <label class="sr-only" for="pwd">Password</label>
   <input type="password" name="pwd" placeholder="Password..." class="form-password form-control" id="pwdl">
 </div>
 <button type="submit" class="btn">Sign in!</button>
</form>
</template >
