<template name="accounts">
  <div class="top-content">

      <div class="inner-bg">
          <div class="container">


              <div class="row">
                  <div class="col-sm-5">

                    <div class="form-box">
                      <div class="form-top">
                        <div class="form-top-left">
                          <h3>Login to our site</h3>
                            <p>Enter username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                          <i class="fa fa-key"></i>
                        </div>
                        </div>
                        <div class="form-bottom">
                          {{> login}}
                    </div>
                  </div>


                  </div>

                  <div class="col-sm-1 middle-border"></div>
                  <div class="col-sm-1"></div>

                  <div class="col-sm-5">

                    <div class="form-box">
                      <div class="form-top">
                        <div class="form-top-left">
                          <h3>Sign up now</h3>
                            <p>Fill in the form below to get instant access:</p>
                        </div>
                        <div class="form-top-right">
                          <i class="fa fa-pencil"></i>
                        </div>
                        </div>
                        <div class="form-bottom">
                          <!-- sign up Form -->
                          {{> register}}
                    </div>
                    </div>

                  </div>
              </div>

          </div>
      </div>

  </div>



</template>
