<template name="chat">
  <div class="chat">
    <div class="top">
      <div class="avatar">
        <img width="50" height="50" src="{{profileImagePath}}">
      </div>
      <div class="info">
        <div class="name">{{info.friendname}}</div>
        <div class="count">{{msgscount}}</div>
      </div>
      <i class="fa fa-star"></i>
    </div>
    <ul class="messages">
      {{#each Messages}}
          {{#if eq reciver info.friendId }}
          <li class="i">
            <div class="head">
              <span class="time">{{msToDate createdAt}}</span>
              <span class="name">{{info.myname}}</span>
            </div>
            <div class="message">{{text}}</div>
          </li>
          {{else}}
          <li class="friend">
            <div class="head">
              <span class="name">{{info.friendname}}</span>
              <span class="time">{{msToDate createdAt}}</span>
            </div>
            <div class="message">{{text}}</div>
          </li>
      {{/if}}
      {{/each }}

    </ul>
    <div class="write-form">
      <textarea placeholder="Type your message" name="e" id="texxt"  rows="2"></textarea>
      <i class="fa fa-picture-o"></i>
      <i class="fa fa-file-o"></i>
      <span class="send">Send</span>
    </div>
  </div>
</template>
