<template name="register">
<form role="form" action="" method="post" class="registration-form">
  <div class="form-group">

    <div class="profileimage">
    {{>uploadForm }}
    </div>

    <label class="sr-only" for="fname">First name</label>
      <input type="text" id="fname" name="fname" placeholder="First name..." class="form-first-name form-control">
    </div>
    <div class="form-group">
      <label class="sr-only" for="lname">Last name</label>
      <input type="text" id="lname" name="lname" placeholder="Last name..." class="form-last-name form-control">
    </div>
    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input type="text" id="signup-email" name="email" placeholder="Email..." class="form-email form-control">
    </div>
    <div class="form-group">
      <label class="sr-only" for="pwd">Password</label>
      <input type="password" id="signup-pwd" name="pwd" placeholder="Type Password" class="form-password form-control">
    </div>

    <button type="submit" class="btn">Sign me up!</button>
</form>

</template>
